$comp-button-border-container-primary: $comp-button-borderwidth-default solid $comp-button-color-outline-primary;
$comp-button-border-container-secondary: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary;
$comp-button-border-container-success: $comp-button-borderwidth-default solid $comp-button-color-outline-success;
$comp-button-border-container-warning: $comp-button-borderwidth-default solid $comp-button-color-outline-warning;
$comp-button-border-container-error: $comp-button-borderwidth-default solid $comp-button-color-outline-error;
$comp-button-border-container-primary-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-primary-pressed;
$comp-button-border-container-secondary-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary-pressed;
$comp-button-border-container-success-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-success-pressed;
$comp-button-border-container-warning-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-warning-pressed;
$comp-button-border-container-error-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-error-pressed;
$comp-button-border-container-primary-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-primary-hover;
$comp-button-border-container-secondary-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary-hover;
$comp-button-border-container-success-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-success-hover;
$comp-button-border-container-warning-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-warning-hover;
$comp-button-border-container-error-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-error-hover;
$comp-button-border-tint-primary: $comp-button-borderwidth-default solid $comp-button-color-outline-primary;
$comp-button-border-tint-secondary: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary;
$comp-button-border-tint-success: $comp-button-borderwidth-default solid $comp-button-color-outline-success;
$comp-button-border-tint-warning: $comp-button-borderwidth-default solid $comp-button-color-outline-warning;
$comp-button-border-tint-error: $comp-button-borderwidth-default solid $comp-button-color-outline-error;
$comp-button-border-tint-primary-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-primary-pressed;
$comp-button-border-tint-success-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-success-pressed;
$comp-button-border-tint-secondary-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary-pressed;
$comp-button-border-tint-warning-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-warning-pressed;
$comp-button-border-tint-error-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-error-pressed;
$comp-button-border-tint-primary-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-primary-hover;
$comp-button-border-tint-success-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-success-hover;
$comp-button-border-tint-secondary-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-secondary-hover;
$comp-button-border-tint-warning-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-warning-hover;
$comp-button-border-tint-error-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-error-hover;
$comp-button-border-plain-default: $comp-button-borderwidth-default solid $comp-button-color-outline-base;
$comp-button-border-plain-pressed: $comp-button-borderwidth-default solid $comp-button-color-outline-base-pressed;
$comp-button-border-plain-hover: $comp-button-borderwidth-default solid $comp-button-color-outline-base-hover;
$comp-input-border-slot-plaintext-default: $comp-input-borderwidth-slot-default solid $comp-input-color-slot-plaintext-outline;
$comp-input-border-slot-button-default: $comp-input-borderwidth-slot-default solid $comp-input-color-slot-button-outline;
$comp-input-border-default: $comp-input-borderwidth-default solid $comp-input-color-outline;
$comp-input-border-hover: $comp-input-borderwidth-default solid $comp-input-color-outline-hover;
$comp-input-border-active: $comp-input-borderwidth-default solid $comp-input-color-outline-active;
$comp-input-border-error: $comp-input-borderwidth-default solid $comp-input-color-outline-error;
$comp-input-border-number-active: $comp-input-borderwidth-default solid $comp-input-color-outline-active;
$comp-radio-border-default: $comp-radio-border-width-default solid $comp-radio-color-outline;
$comp-radio-border-hover: $comp-radio-border-width-default solid $comp-radio-color-outline-hover;
$comp-radio-border-selected: $comp-radio-border-width-selected solid $comp-radio-color-tab-outline-selected;
$comp-radio-border-tab-default: $comp-radio-border-width-default solid $comp-radio-color-tab-outline;
$comp-radio-border-tab-divider: $comp-radio-border-width-default solid $comp-radio-color-tab-border;
$comp-radio-border-button-default: $comp-radio-border-width-default solid $comp-radio-color-button-outline;
$comp-radio-border-button-selected: $comp-radio-border-width-default solid $comp-radio-color-button-outline-selected;
$comp-checkbox-border-default: $comp-checkbox-borderwidth-dafault solid $comp-checkbox-color-outline;
$comp-checkbox-border-selected: $comp-checkbox-borderwidth-dafault solid $comp-checkbox-color-outline-active;
$comp-checkbox-border-button-default: $comp-checkbox-borderwidth-dafault solid $comp-checkbox-color-button-outline;
$comp-checkbox-border-button-selected: $comp-checkbox-borderwidth-dafault solid $comp-checkbox-color-button-outline-selected;
$comp-select-border-default: $comp-select-borderwitdh-default solid $comp-select-color-outline;
$comp-select-border-selected: $comp-select-borderwitdh-default solid $comp-select-color-outline-active;
$comp-tab-plain-border: $comp-tab-borderwidth-default solid $comp-tab-color-plain-outline;
$comp-tab-box-border: $comp-tab-borderwidth-default solid $comp-tab-color-box-outline;
$comp-tab-line-border-default: $comp-tab-borderwidth-line solid $comp-tab-color-line-border;
$comp-tab-line-border-selected: $comp-tab-borderwidth-line solid $comp-tab-color-line-border-active;
$comp-cascader-border-popper-divider: $comp-cascader-borderwidth-popper-default solid $comp-cascader-color-popper-divider;
$comp-cascader-border-popper-outline: $comp-cascader-borderwidth-popper-default solid $comp-cascader-color-popper-outline;
$comp-message-border-info: $comp-message-borderwidth-dafault solid $comp-messasge-color-outline-info;
$comp-message-border-success: $comp-message-borderwidth-dafault solid $comp-messasge-color-outline-success;
$comp-message-border-warning: $comp-message-borderwidth-dafault solid $comp-messasge-color-outline-warning;
$comp-message-border-error: $comp-message-borderwidth-dafault solid $comp-messasge-color-outline-error;
$comp-tag-border-blue-tint: $comp-tag-borderwidth-default solid $comp-tag-color-tint-outline-blue;
$comp-tag-border-blue-contained: $comp-tag-borderwidth-default solid $comp-tag-color-contained-outline-blue;
$comp-tag-border-green-tint: $comp-tag-borderwidth-default solid $comp-tag-color-tint-outline-green;
$comp-tag-border-green-contained: $comp-tag-borderwidth-default solid $comp-tag-color-contained-outline-green;
$comp-tag-border-grey-tint: $comp-tag-borderwidth-default solid $comp-tag-color-tint-outline-grey;
$comp-tag-border-grey-contained: $comp-tag-borderwidth-default solid $comp-tag-color-contained-outline-grey;
$comp-tag-border-orange-tint: $comp-tag-borderwidth-default solid $comp-tag-color-tint-outline-orange;
$comp-tag-border-orange-contained: $comp-tag-borderwidth-default solid $comp-tag-color-contained-outline-orange;
$comp-tag-border-red-tint: $comp-tag-borderwidth-default solid $comp-tag-color-tint-outline-red;
$comp-tag-border-red-contained: $comp-tag-borderwidth-default solid $comp-tag-color-contained-outline-red;
$comp-tag-border-plain: $comp-tag-borderwidth-default solid $comp-tag-color-plain-outline;
$comp-border-divider: $comp-border-borderwidth-default solid $comp-border-color-divider;
$comp-slider-border-position-control: $comp-slider-borderwidth-position-control solid $comp-slider-color-outline-position-control;
$comp-slider-border-position-control-disabled: $comp-slider-borderwidth-position-control solid $comp-slider-color-outline-position-control-disabled;
$comp-dialog-border-slot: $comp-dialog-borderwidth-default dashed $comp-dialog-color-outline-slot;
$comp-dialog-border-side-title-bottom: $comp-dialog-borderwidth-default solid $comp-dialog-color-border-divider;
$comp-dialog-border-side-button-top: $comp-dialog-borderwidth-default solid $comp-dialog-color-border-divider;
$comp-upload-border-drag-file: $comp-upload-borderwidth-drag-file dashed $comp-upload-color-drag-file-outline;
$comp-upload-border-drag-file-hover: $comp-upload-borderwidth-drag-file dashed $comp-upload-color-drag-file-outline-hover;
$comp-alert-border-success: $sys-border-width-thin solid $sys-color-outline-accent-success;
$comp-alert-border-info: $sys-border-width-thin solid $sys-color-outline-accent-secondary;
$comp-alert-border-warning: $sys-border-width-thin solid $sys-color-outline-accent-warning;
$comp-alert-border-error: $sys-border-width-thin solid $sys-color-outline-accent-error;