$ref-border-width-1px: 1px;
$ref-border-width-2px: 2px;
$ref-border-width-4px: 4px;
$sys-border-width-thin: $ref-border-width-1px;
$sys-border-width-regular: $ref-border-width-2px;
$sys-border-width-bold: $ref-border-width-4px;
$comp-button-borderwidth-default: $sys-border-width-thin;
$comp-input-borderwidth-default: $sys-border-width-thin;
$comp-input-borderwidth-slot-default: $comp-input-borderwidth-default;
$comp-select-borderwitdh-default: $comp-input-borderwidth-default;
$comp-radio-border-width-default: $sys-border-width-thin;
$comp-radio-border-width-selected: $sys-border-width-bold;
$comp-checkbox-borderwidth-dafault: $sys-border-width-thin;
$comp-tab-borderwidth-default: $sys-border-width-thin;
$comp-tab-borderwidth-line: $sys-border-width-regular;
$comp-cascader-borderwidth-popper-default: $sys-border-width-thin;
$comp-message-borderwidth-dafault: $sys-border-width-thin;
$comp-tag-borderwidth-default: $sys-border-width-thin;
$comp-border-borderwidth-default: $sys-border-width-thin;
$comp-slider-borderwidth-position-control: $sys-border-width-regular;
$comp-dialog-borderwidth-default: $sys-border-width-thin;
$comp-upload-borderwidth-drag-file: $sys-border-width-thin;
$comp-alert-borderwidth-default: $sys-border-width-thin;
$ui-borderwidth-default: $sys-border-width-thin;
$ui-borderwidth-bold: $sys-border-width-regular;
$ui-borderwidth-strong: $sys-border-width-bold;