$ref-border-radius-0px: 0px;
$ref-border-radius-4px: 4px;
$ref-border-radius-8px: 8px;
$ref-border-radius-16px: 16px;
$ref-border-radius-2px: 2px;
$ref-border-radius-100px: 100px;
$ref-border-radius-100per: 100%;
$sys-border-radius-rounded: $ref-border-radius-100px;
$sys-border-radius-none: $ref-border-radius-0px;
$sys-border-radius-level-2: $ref-border-radius-4px;
$sys-border-radius-level-3: $ref-border-radius-8px;
$sys-border-radius-level-4: $ref-border-radius-16px;
$sys-border-radius-level-1: $ref-border-radius-2px;
$sys-border-radius-circle: $ref-border-radius-100per;
$comp-button-border-radius-default: $sys-border-radius-level-2;
$comp-button-border-radius-rounded: $sys-border-radius-rounded;
$comp-button-border-radius-circle: $sys-border-radius-circle;
$comp-input-border-radius-default: $sys-border-radius-level-2;
$comp-input-border-radius-none: $sys-border-radius-none;
$comp-input-border-radius-slot-none: $sys-border-radius-none;
$comp-select-border-radius-default: $comp-input-border-radius-default;
$comp-select-border-radius-group-none: $comp-input-border-radius-none;
$comp-radio-border-radius-circle: $sys-border-radius-circle;
$comp-radio-border-radius-button: $sys-border-radius-level-2;
$comp-radio-border-radius-tab: $sys-border-radius-level-2;
$comp-checkbox-border-radius-default: $sys-border-radius-level-1;
$comp-checkbox-border-radius-button: $sys-border-radius-level-2;
$comp-tab-border-radius-none: $sys-border-radius-none;
$comp-badge-border-radius-rounded: $sys-border-radius-rounded;
$comp-alert-border-radius-default: $sys-border-radius-level-2;
$comp-cascader-border-radius-popper-default: $sys-border-radius-level-2;
$comp-dropdown-border-radius-default-button: $comp-button-border-radius-default;
$comp-message-border-radius-default: $sys-border-radius-level-2;
$comp-dialog-border-radius-default: $sys-border-radius-level-2;
$comp-tag-border-radius-default: $sys-border-radius-level-2;
$comp-scroll-item-border-radius-default: $sys-border-radius-level-2;
$comp-slider-border-radius-default: $sys-border-radius-rounded;
$comp-switch-border-radius-background: $sys-border-radius-rounded;
$comp-tooltip-border-radius-tip: $sys-border-radius-level-2;
$comp-popover-border-radius-container: $sys-border-radius-level-2;
$comp-pagination-border-radius-background: $sys-border-radius-level-2;
$comp-progress-border-radius-bar-end: $sys-border-radius-rounded;
$comp-upload-border-radius-drag-file: $sys-border-radius-level-2;
$ui-border-radius-small: $sys-border-radius-level-2;
$ui-border-radius-medium: $sys-border-radius-level-3;
$ui-border-radius-large: $sys-border-radius-level-4;