$ref-color-primary-0: #000000;
$ref-color-primary-5: #010418;
$ref-color-primary-15: #060E46;
$ref-color-primary-25: #0D1A72;
$ref-color-primary-35: #17289B;
$ref-color-primary-45: #2438C2;
$ref-color-primary-55: #4255D5;
$ref-color-primary-65: #717FDA;
$ref-color-primary-75: #9DA6E2;
$ref-color-primary-85: #C6CBEB;
$ref-color-primary-95: #EDEEF8;
$ref-color-primary-97: #F4F5FB;
$ref-color-primary-99: #FBFCFD;
$ref-color-primary-100: #ffffff;
$ref-color-success-0: #000000;
$ref-color-success-5: #041801;
$ref-color-success-15: #0F4606;
$ref-color-success-25: #1B720D;
$ref-color-success-35: #299B17;
$ref-color-success-45: #39C224;
$ref-color-success-55: #57D543;
$ref-color-success-65: #7FDA71;
$ref-color-success-75: #A6E29D;
$ref-color-success-85: #CBEBC6;
$ref-color-success-95: #EEF8ED;
$ref-color-success-97: #F5FBF4;
$ref-color-success-99: #FCFDFB;
$ref-color-success-100: #ffffff;
$ref-color-warning-0: #000000;
$ref-color-warning-5: #180A01;
$ref-color-warning-15: #461E06;
$ref-color-warning-25: #72320D;
$ref-color-warning-35: #9B4817;
$ref-color-warning-45: #C25E24;
$ref-color-warning-55: #D57943;
$ref-color-warning-65: #DA9871;
$ref-color-warning-75: #E2B69D;
$ref-color-warning-85: #F7D1BA;
$ref-color-warning-95: #F8F1ED;
$ref-color-warning-97: #FBF6F4;
$ref-color-warning-99: #FDFCFB;
$ref-color-warning-100: #ffffff;
$ref-color-error-0: #000000;
$ref-color-error-5: #180101;
$ref-color-error-15: #460606;
$ref-color-error-25: #720D0D;
$ref-color-error-35: #9B1717;
$ref-color-error-45: #C22424;
$ref-color-error-55: #D54242;
$ref-color-error-65: #DA7171;
$ref-color-error-75: #E29D9D;
$ref-color-error-85: #EBC6C6;
$ref-color-error-95: #F8EDED;
$ref-color-error-97: #FBF4F4;
$ref-color-error-99: #FDFBFB;
$ref-color-error-100: #ffffff;
$ref-color-neutral-0: #000000;
$ref-color-neutral-5: #0B0C0E;
$ref-color-neutral-15: #22232A;
$ref-color-neutral-25: #393B46;
$ref-color-neutral-35: #505362;
$ref-color-neutral-45: #676A7E;
$ref-color-neutral-55: #808397;
$ref-color-neutral-65: #9D9FAF;
$ref-color-neutral-75: #B9BBC6;
$ref-color-neutral-85: #D5D6DD;
$ref-color-neutral-95: #F1F1F3;
$ref-color-neutral-97: #F7F7F8;
$ref-color-neutral-99: #FCFCFD;
$ref-color-neutral-100: #ffffff;
$ref-color-neutral-90: #E3E4E8;
$ref-color-neutral-91: #E6E6EA;
$ref-color-neutral-92: #E8E9ED;
$ref-color-neutral-93: #EBECEF;
$ref-color-neutral-94: #EEEFF1;
$ref-color-neutral-96: #F4F4F6;
$ref-color-neutral-98: #F9FAFA;
$ref-color-opacity-background-black-10: rgba(0, 0, 0, 0.1);
$sys-color-primary: $ref-color-primary-55;
$sys-color-primary-hover: $ref-color-primary-65;
$sys-color-primary-pressed: $ref-color-primary-45;
$sys-color-secondary: $ref-color-neutral-55;
$sys-color-secondary-hover: $ref-color-neutral-65;
$sys-color-secondary-pressed: $ref-color-neutral-45;
$sys-color-success: $ref-color-success-35;
$sys-color-success-hover: $ref-color-success-45;
$sys-color-success-pressed: $ref-color-success-25;
$sys-color-warning: $ref-color-warning-55;
$sys-color-warning-hover: $ref-color-warning-65;
$sys-color-warning-pressed: $ref-color-warning-45;
$sys-color-error: $ref-color-error-55;
$sys-color-error-hover: $ref-color-error-65;
$sys-color-error-pressed: $ref-color-error-45;
$sys-color-inverse: $ref-color-neutral-100;
$sys-color-disabled: $ref-color-neutral-75;
$sys-color-background-accent-primary: $sys-color-primary;
$sys-color-background-accent-primary-hover: $sys-color-primary-hover;
$sys-color-background-accent-primary-pressed: $sys-color-primary-pressed;
$sys-color-background-accent-primary-tinit: $ref-color-primary-95;
$sys-color-background-accent-primary-tint-hover: $ref-color-primary-99;
$sys-color-background-accent-primary-tint-pressed: $ref-color-primary-85;
$sys-color-background-accent-primary-base: $ref-color-primary-100;
$sys-color-background-accent-primary-base-pressed: $sys-color-background-accent-primary-tint-pressed;
$sys-color-background-accent-primary-base-hover: $ref-color-primary-95;
$sys-color-background-accent-secondary: $sys-color-secondary;
$sys-color-background-accent-secondary-hover: $sys-color-secondary-hover;
$sys-color-background-accent-secondary-pressed: $sys-color-secondary-pressed;
$sys-color-background-accent-secondary-tint: $ref-color-neutral-95;
$sys-color-background-accent-secondary-tinit-hover: $ref-color-neutral-99;
$sys-color-background-accent-secondary-tint-pressed: $ref-color-neutral-85;
$sys-color-background-accent-secondary-base: $ref-color-neutral-100;
$sys-color-background-accent-secondary-base-hover: $sys-color-background-accent-secondary-tint;
$sys-color-background-accent-secondary-base-pressed: $sys-color-background-accent-secondary-tint-pressed;
$sys-color-background-accent-success: $sys-color-success;
$sys-color-background-accent-success-hover: $sys-color-success-hover;
$sys-color-background-accent-success-pressed: $sys-color-success-pressed;
$sys-color-background-accent-success-tint: $ref-color-success-95;
$sys-color-background-accent-success-tint-hover: $ref-color-success-99;
$sys-color-background-accent-success-tint-pressed: $ref-color-success-85;
$sys-color-background-accent-success-base: $ref-color-success-100;
$sys-color-background-accent-success-base-hover: $sys-color-background-accent-success-tint;
$sys-color-background-accent-success-base-pressed: $sys-color-background-accent-success-tint-pressed;
$sys-color-background-accent-warning: $sys-color-warning;
$sys-color-background-accent-warning-hover: $sys-color-warning-hover;
$sys-color-background-accent-warning-pressed: $sys-color-warning-pressed;
$sys-color-background-accent-warning-tint: $ref-color-warning-95;
$sys-color-background-accent-warning-tint-hover: $ref-color-warning-99;
$sys-color-background-accent-warning-tint-pressed: $ref-color-warning-85;
$sys-color-background-accent-warning-base: $ref-color-warning-100;
$sys-color-background-accent-warning-base-hover: $sys-color-background-accent-warning-tint;
$sys-color-background-accent-warning-base-pressed: $sys-color-background-accent-warning-tint-pressed;
$sys-color-background-accent-error: $sys-color-error;
$sys-color-background-accent-error-hover: $sys-color-error-hover;
$sys-color-background-accent-error-pressed: $sys-color-error-pressed;
$sys-color-background-accent-error-tint: $ref-color-error-95;
$sys-color-background-accent-error-tint-hover: $ref-color-error-99;
$sys-color-background-accent-error-tint-pressed: $ref-color-error-85;
$sys-color-background-accent-error-base: $ref-color-error-100;
$sys-color-background-accent-error-base-hover: $sys-color-background-accent-error-tint;
$sys-color-background-accent-error-base-pressed: $sys-color-background-accent-error-tint-pressed;
$sys-color-background-base: $ref-color-neutral-100;
$sys-color-background-base-hover: $ref-color-neutral-97;
$sys-color-background-base-pressed: $ref-color-neutral-95;
$sys-color-background-base-variant: $ref-color-neutral-97;
$sys-color-background-base-variant-hover: $ref-color-neutral-100;
$sys-color-background-base-variant-pressed: $ref-color-neutral-92;
$sys-color-background-inverse: $ref-color-neutral-15;
$sys-color-background-disabled: $ref-color-neutral-97;
$sys-color-background-opacity-dark-10: $ref-color-opacity-background-black-10;
$sys-color-text-accent-primary: $sys-color-primary;
$sys-color-text-accent-primary-hover: $sys-color-primary-hover;
$sys-color-text-accent-primary-pressed: $sys-color-primary-pressed;
$sys-color-text-accent-secondary: $sys-color-secondary;
$sys-color-text-accent-secondary-hover: $sys-color-secondary-hover;
$sys-color-text-accent-secondary-pressed: $sys-color-secondary-pressed;
$sys-color-text-accent-success: $sys-color-success;
$sys-color-text-accent-success-hover: $sys-color-success-hover;
$sys-color-text-accent-success-pressed: $sys-color-success-pressed;
$sys-color-text-accent-warning: $sys-color-warning;
$sys-color-text-accent-warning-hover: $sys-color-warning-hover;
$sys-color-text-accent-warning-pressed: $sys-color-warning-pressed;
$sys-color-text-accent-error: $sys-color-error;
$sys-color-text-accent-error-hover: $sys-color-error-hover;
$sys-color-text-accent-error-pressed: $sys-color-error-pressed;
$sys-color-text-base: $ref-color-neutral-25;
$sys-color-text-sub: $ref-color-neutral-45;
$sys-color-text-placeholder: $ref-color-neutral-75;
$sys-color-text-inverse: $sys-color-inverse;
$sys-color-icon-accent-primary: $sys-color-primary;
$sys-color-icon-accent-primary-hover: $sys-color-primary-hover;
$sys-color-icon-accent-primary-pressed: $sys-color-primary-pressed;
$sys-color-icon-accent-secondary: $sys-color-secondary;
$sys-color-icon-accent-secondary-hover: $sys-color-secondary-hover;
$sys-color-icon-accent-secondary-pressed: $sys-color-secondary-pressed;
$sys-color-icon-accent-success: $sys-color-success;
$sys-color-icon-accent-success-hover: $sys-color-success-hover;
$sys-color-icon-accent-success-pressed: $sys-color-success-pressed;
$sys-color-icon-accent-warning: $sys-color-warning;
$sys-color-icon-accent-warning-hover: $sys-color-warning-hover;
$sys-color-icon-accent-warning-pressed: $sys-color-warning-pressed;
$sys-color-icon-accent-error: $sys-color-error;
$sys-color-icon-accent-error-hover: $sys-color-error-hover;
$sys-color-icon-accent-error-pressed: $sys-color-error-pressed;
$sys-color-icon-base: $ref-color-neutral-25;
$sys-color-icon-sub: $ref-color-neutral-45;
$sys-color-icon-helper: $ref-color-neutral-75;
$sys-color-icon-inverse: $sys-color-inverse;
$sys-color-outline-accent-primary: $sys-color-primary;
$sys-color-outline-accent-primary-hover: $sys-color-primary-hover;
$sys-color-outline-accent-primary-pressed: $sys-color-primary-pressed;
$sys-color-outline-accent-primary-light: $ref-color-primary-85;
$sys-color-outline-accent-secondary: $sys-color-secondary;
$sys-color-outline-accent-secondary-hover: $sys-color-secondary-hover;
$sys-color-outline-accent-secondary-pressed: $sys-color-secondary-pressed;
$sys-color-outline-accent-secondary-light: $ref-color-neutral-85;
$sys-color-outline-accent-success: $sys-color-success;
$sys-color-outline-accent-success-hover: $sys-color-success-hover;
$sys-color-outline-accent-success-pressed: $sys-color-success-pressed;
$sys-color-outline-accent-success-light: $ref-color-success-85;
$sys-color-outline-accent-warning: $sys-color-warning;
$sys-color-outline-accent-warning-hover: $sys-color-warning-hover;
$sys-color-outline-accent-warning-pressed: $sys-color-warning-pressed;
$sys-color-outline-accent-warning-light: $ref-color-warning-85;
$sys-color-outline-accent-error: $sys-color-error;
$sys-color-outline-accent-error-hover: $sys-color-error-hover;
$sys-color-outline-accent-error-pressed: $sys-color-error-pressed;
$sys-color-outline-accent-error-light: $ref-color-error-85;
$sys-color-outline-base: $ref-color-neutral-90;
$sys-color-outline-base-hover: $ref-color-neutral-65;
$sys-color-outline-base-pressed: $ref-color-primary-55;
$sys-color-border-accent-primary: $sys-color-primary;
$sys-color-border-accent-secondary: $sys-color-secondary;
$sys-color-border-accent-success: $sys-color-success;
$sys-color-border-accent-warning: $sys-color-warning;
$sys-color-border-accent-error: $sys-color-error;
$sys-color-border-base: $ref-color-neutral-90;
$sys-color-border-base-variant: $ref-color-neutral-93;
$sys-color-border-inverse: $ref-color-neutral-100;
$sys-color-surface: $ref-color-neutral-97;
$sys-color-surface-container: $ref-color-neutral-100;
$sys-color-surface-container-low: $ref-color-neutral-95;
$sys-color-surface-container-lowest: $ref-color-neutral-92;
$sys-color-surface-container-high: $ref-color-neutral-95;
$comp-button-color-background-primary: $sys-color-background-accent-primary;
$comp-button-color-background-primary-hover: $sys-color-background-accent-primary-hover;
$comp-button-color-background-primary-pressed: $sys-color-background-accent-primary-pressed;
$comp-button-color-background-secondary: $sys-color-background-accent-secondary;
$comp-button-color-background-secondary-hover: $sys-color-background-accent-secondary-hover;
$comp-button-color-background-secondary-pressed: $sys-color-background-accent-secondary-pressed;
$comp-button-color-background-success: $sys-color-background-accent-success;
$comp-button-color-background-success-hover: $sys-color-background-accent-success-hover;
$comp-button-color-background-success-pressed: $sys-color-background-accent-success-pressed;
$comp-button-color-background-warning: $sys-color-background-accent-warning;
$comp-button-color-background-warning-hover: $sys-color-background-accent-warning-hover;
$comp-button-color-background-warning-pressed: $sys-color-background-accent-warning-pressed;
$comp-button-color-background-error: $sys-color-background-accent-error;
$comp-button-color-background-error-hover: $sys-color-background-accent-error-hover;
$comp-button-color-background-error-pressed: $sys-color-background-accent-error-pressed;
$comp-button-color-background-primary-outlined: $sys-color-background-base;
$comp-button-color-background-primary-outlined-hover: $sys-color-background-accent-primary-base-hover;
$comp-button-color-background-primary-outlined-pressed: $sys-color-background-accent-primary-base-pressed;
$comp-button-color-background-secondary-outlined: $sys-color-background-accent-secondary-base;
$comp-button-color-background-secondary-outlined-hover: $sys-color-background-accent-secondary-base-hover;
$comp-button-color-background-secondary-outlined-pressed: $sys-color-background-accent-secondary-base-pressed;
$comp-button-color-background-success-outlined: $sys-color-background-accent-success-base;
$comp-button-color-background-success-outlined-hover: $sys-color-background-accent-success-base-hover;
$comp-button-color-background-success-outlined-pressed: $sys-color-background-accent-success-base-pressed;
$comp-button-color-background-warning-outlined: $sys-color-background-accent-warning-base;
$comp-button-color-background-warning-outlined-hover: $sys-color-background-accent-warning-base-hover;
$comp-button-color-background-warning-light-pressed: $sys-color-background-accent-warning-base-pressed;
$comp-button-color-background-error-light: $sys-color-background-accent-error-base;
$comp-button-color-background-error-light-hover: $sys-color-background-accent-error-base-hover;
$comp-button-color-background-error-light-pressed: $sys-color-background-accent-error-base-pressed;
$comp-button-color-background-base: $sys-color-background-base;
$comp-button-color-background-base-hover: $sys-color-background-base-hover;
$comp-button-color-background-base-pressed: $sys-color-background-base-pressed;
$comp-button-color-outline-primary: $sys-color-outline-accent-primary;
$comp-button-color-outline-primary-hover: $sys-color-outline-accent-primary-hover;
$comp-button-color-outline-primary-pressed: $sys-color-outline-accent-primary-pressed;
$comp-button-color-outline-secondary: $sys-color-outline-accent-secondary;
$comp-button-color-outline-secondary-hover: $sys-color-outline-accent-secondary-hover;
$comp-button-color-outline-secondary-pressed: $sys-color-outline-accent-secondary-pressed;
$comp-button-color-outline-success: $sys-color-outline-accent-success;
$comp-button-color-outline-success-hover: $sys-color-outline-accent-success-hover;
$comp-button-color-outline-success-pressed: $sys-color-outline-accent-success-pressed;
$comp-button-color-outline-warning: $sys-color-outline-accent-warning;
$comp-button-color-outline-warning-hover: $sys-color-outline-accent-warning-hover;
$comp-button-color-outline-warning-pressed: $sys-color-outline-accent-warning-pressed;
$comp-button-color-outline-error: $sys-color-outline-accent-error;
$comp-button-color-outline-error-hover: $sys-color-outline-accent-error-hover;
$comp-button-color-outline-error-pressed: $sys-color-outline-accent-error-pressed;
$comp-button-color-outline-base: $sys-color-outline-base;
$comp-button-color-outline-base-hover: $sys-color-outline-base-hover;
$comp-button-color-outline-base-pressed: $sys-color-outline-base-pressed;
$comp-button-color-icon-inverse: $sys-color-icon-inverse;
$comp-button-color-icon-primary: $sys-color-icon-accent-primary;
$comp-button-color-icon-primary-hover: $sys-color-icon-accent-primary-hover;
$comp-button-color-icon-primary-pressed: $sys-color-icon-accent-primary-pressed;
$comp-button-color-icon-success: $sys-color-icon-accent-success;
$comp-button-color-icon-success-hover: $sys-color-icon-accent-success-hover;
$comp-button-color-icon-success-pressed: $sys-color-icon-accent-success-pressed;
$comp-button-color-icon-secondary: $sys-color-icon-accent-secondary;
$comp-button-color-icon-secondary-hover: $sys-color-icon-accent-secondary-hover;
$comp-button-color-icon-secondary-pressed: $sys-color-icon-accent-secondary-pressed;
$comp-button-color-icon-warning: $sys-color-icon-accent-warning;
$comp-button-color-icon-warning-hover: $sys-color-icon-accent-warning-hover;
$comp-button-color-icon-warning-pressed: $sys-color-icon-accent-warning-pressed;
$comp-button-color-icon-error: $sys-color-icon-accent-error;
$comp-button-color-icon-error-hover: $sys-color-icon-accent-error-hover;
$comp-button-color-icon-error-pressed: $sys-color-icon-accent-error-pressed;
$comp-button-color-icon-base: $sys-color-icon-base;
$comp-button-color-text-inverse: $sys-color-text-inverse;
$comp-button-color-text-primary: $sys-color-text-accent-primary;
$comp-button-color-text-primary-hover: $sys-color-text-accent-primary-hover;
$comp-button-color-text-primary-pressed: $sys-color-text-accent-primary-pressed;
$comp-button-color-text-success: $sys-color-text-accent-success;
$comp-button-color-text-success-hover: $sys-color-text-accent-success-hover;
$comp-button-color-text-success-pressed: $sys-color-text-accent-success-pressed;
$comp-button-color-text-secondary: $sys-color-text-accent-secondary;
$comp-button-color-text-secondary-hover: $sys-color-text-accent-secondary-hover;
$comp-button-color-text-secondary-pressed: $sys-color-text-accent-secondary-pressed;
$comp-button-color-text-warning: $sys-color-text-accent-warning;
$comp-button-color-text-warning-hover: $sys-color-text-accent-warning-hover;
$comp-button-color-text-warning-pressed: $sys-color-text-accent-warning-pressed;
$comp-button-color-text-error: $sys-color-text-accent-error;
$comp-button-color-text-error-hover: $sys-color-text-accent-error-hover;
$comp-button-color-text-error-pressed: $sys-color-text-accent-error-pressed;
$comp-button-color-text-base: $sys-color-text-base;
$comp-input-color-background: $sys-color-background-base;
$comp-input-color-background-disabled: $sys-color-background-disabled;
$comp-input-color-outline: $sys-color-outline-base;
$comp-input-color-outline-hover: $sys-color-outline-base-hover;
$comp-input-color-outline-active: $sys-color-outline-accent-primary;
$comp-input-color-outline-error: $sys-color-outline-accent-error;
$comp-input-color-text-placeholder: $sys-color-text-placeholder;
$comp-input-color-text-active: $sys-color-text-base;
$comp-input-color-text-sub: $sys-color-text-sub;
$comp-input-color-icon-helper: $sys-color-icon-helper;
$comp-input-color-icon-active: $sys-color-icon-base;
$comp-input-color-icon-sub: $sys-color-icon-sub;
$comp-input-color-slot-plaintext-outline: $sys-color-outline-base;
$comp-input-color-slot-plaintext-text: $sys-color-text-sub;
$comp-input-color-slot-plaintext-background: $sys-color-background-base-variant;
$comp-input-color-slot-button-icon: $sys-color-icon-sub;
$comp-input-color-slot-button-icon-active: $sys-color-icon-accent-primary;
$comp-input-color-slot-button-background: $sys-color-background-base-variant;
$comp-input-color-slot-button-outline: $sys-color-outline-base;
$comp-input-color-slot-button-text: $sys-color-text-sub;
$comp-select-color-background: $comp-input-color-background;
$comp-select-color-background-disabled: $comp-input-color-background-disabled;
$comp-select-color-outline: $comp-input-color-outline;
$comp-select-color-outline-active: $comp-input-color-outline-active;
$comp-select-color-outline-error: $comp-input-color-outline-error;
$comp-select-color-text-placeholder: $comp-input-color-text-placeholder;
$comp-select-color-text-active: $comp-input-color-text-active;
$comp-select-color-icon-helper: $comp-input-color-icon-helper;
$comp-select-color-icon-active: $comp-input-color-icon-active;
$comp-forms-color-helpertext: $sys-color-text-sub;
$comp-forms-color-helpertext-error: $sys-color-text-accent-error;
$comp-forms-color-title: $sys-color-text-base;
$comp-forms-color-title-critical: $sys-color-text-accent-error;
$comp-switch-color-background-on: $sys-color-background-accent-primary;
$comp-switch-color-background-off: $sys-color-background-accent-secondary;
$comp-switch-color-toggle: $sys-color-background-base;
$comp-radio-color-background: $sys-color-background-base;
$comp-radio-color-outline: $sys-color-outline-base;
$comp-radio-color-outline-selected: $sys-color-outline-accent-primary;
$comp-radio-color-outline-hover: $sys-color-outline-accent-primary;
$comp-radio-color-text-selected: $sys-color-text-accent-primary;
$comp-radio-color-text-base: $sys-color-text-base;
$comp-radio-color-tab-background: $sys-color-background-base;
$comp-radio-color-tab-background-selected: $sys-color-background-accent-primary;
$comp-radio-color-tab-text: $sys-color-text-base;
$comp-radio-color-tab-text-hover: $sys-color-text-accent-primary;
$comp-radio-color-tab-text-selected: $sys-color-text-inverse;
$comp-radio-color-tab-border: $sys-color-border-base;
$comp-radio-color-tab-outline: $sys-color-outline-base;
$comp-radio-color-tab-outline-selected: $sys-color-outline-accent-primary;
$comp-radio-color-button-background: $sys-color-background-base;
$comp-radio-color-button-outline: $sys-color-outline-base;
$comp-radio-color-button-outline-selected: $sys-color-outline-accent-primary;
$comp-checkbox-color-outline: $sys-color-outline-base;
$comp-checkbox-color-outline-active: $sys-color-outline-accent-primary;
$comp-checkbox-color-background: $sys-color-background-base;
$comp-checkbox-color-background-active: $sys-color-background-accent-primary;
$comp-checkbox-color-icon: $sys-color-icon-inverse;
$comp-checkbox-color-text: $sys-color-text-base;
$comp-checkbox-color-text-selected: $sys-color-text-accent-primary;
$comp-checkbox-color-button-background: $sys-color-background-base;
$comp-checkbox-color-button-outline: $sys-color-outline-base;
$comp-checkbox-color-button-outline-selected: $sys-color-outline-accent-primary;
$comp-tab-color-plain-outline: $sys-color-outline-base;
$comp-tab-color-plain-background: $sys-color-background-base;
$comp-tab-color-plain-text-base: $sys-color-text-sub;
$comp-tab-color-plain-text-active: $sys-color-text-accent-primary;
$comp-tab-color-plain-icon-base: $sys-color-icon-sub;
$comp-tab-color-plain-icon-active: $sys-color-icon-accent-primary;
$comp-tab-color-box-background: $sys-color-background-base-variant;
$comp-tab-color-box-background-selected: $sys-color-background-base;
$comp-tab-color-box-outline: $sys-color-outline-base;
$comp-tab-color-box-contents-background: $sys-color-background-base;
$comp-tab-color-box-text-base: $sys-color-text-sub;
$comp-tab-color-box-text-active: $sys-color-text-accent-primary;
$comp-tab-color-box-icon-base: $sys-color-icon-sub;
$comp-tab-color-box-icon-active: $sys-color-icon-accent-primary;
$comp-tab-color-line-background: $sys-color-background-base;
$comp-tab-color-line-border: $sys-color-border-base;
$comp-tab-color-line-border-active: $sys-color-border-accent-primary;
$comp-tab-color-line-text: $sys-color-text-sub;
$comp-tab-color-line-text-active: $sys-color-text-accent-primary;
$comp-tab-color-line-icon: $sys-color-icon-sub;
$comp-tab-color-line-icon-active: $sys-color-icon-accent-primary;
$comp-badge-color-primary: $sys-color-background-accent-primary;
$comp-badge-color-mute: $sys-color-background-accent-secondary;
$comp-badge-color-red: $sys-color-background-accent-error;
$comp-badge-color-yellow: $sys-color-background-accent-warning;
$comp-badge-color-green: $sys-color-background-accent-success;
$comp-badge-color-text: $sys-color-text-inverse;
$comp-alert-color-background-base: $sys-color-background-base;
$comp-alert-color-icon-success: $sys-color-icon-accent-success;
$comp-alert-color-icon-info: $sys-color-icon-accent-secondary;
$comp-alert-color-icon-warning: $sys-color-icon-accent-warning;
$comp-alert-color-icon-error: $sys-color-icon-accent-error;
$comp-alert-color-text-success: $sys-color-text-accent-success;
$comp-alert-color-text-info: $sys-color-text-accent-secondary;
$comp-alert-color-text-warning: $sys-color-text-accent-warning;
$comp-alert-color-text-error: $sys-color-text-accent-error;
$comp-alert-color-text-title: $sys-color-text-base;
$comp-alert-color-text-description: $sys-color-text-base;
$comp-alert-color-outline-success: $sys-color-outline-accent-success;
$comp-alert-color-outline-info: $sys-color-outline-accent-secondary;
$comp-alert-color-outline-warning: $sys-color-outline-accent-warning;
$comp-alert-color-outline-error: $sys-color-outline-accent-error;
$comp-cascader-color-popper-divider: $sys-color-border-base;
$comp-cascader-color-popper-outline: $sys-color-border-base;
$comp-cascader-color-popper-background: $sys-color-background-base;
$comp-cascader-color-list-text: $sys-color-text-base;
$comp-cascader-color-list-text-selected: $sys-color-text-accent-primary;
$comp-cascader-color-list-icon: $sys-color-icon-base;
$comp-cascader-color-list-icon-selected: $sys-color-icon-accent-primary;
$comp-dropdown-color-button-background: $comp-button-color-background-primary;
$comp-dropdown-color-button-divider: $sys-color-border-inverse;
$comp-dropdown-color-text-text: $comp-button-color-text-primary;
$comp-dropdown-color-text-icon: $comp-button-color-icon-primary;
$comp-messasge-color-background-success: $sys-color-background-accent-success-tint;
$comp-messasge-color-background-info: $sys-color-background-accent-secondary-tint;
$comp-messasge-color-background-warning: $sys-color-background-accent-warning-tint;
$comp-messasge-color-background-error: $sys-color-background-accent-error-tint;
$comp-messasge-color-icon-success: $sys-color-icon-accent-success;
$comp-messasge-color-icon-info: $sys-color-icon-accent-secondary;
$comp-messasge-color-icon-warning: $sys-color-icon-accent-warning;
$comp-messasge-color-icon-error: $sys-color-icon-accent-error;
$comp-messasge-color-text-success: $sys-color-text-accent-success;
$comp-messasge-color-text-info: $sys-color-text-accent-secondary;
$comp-messasge-color-text-warning: $sys-color-text-accent-warning;
$comp-messasge-color-text-error: $sys-color-text-accent-error;
$comp-messasge-color-outline-success: $sys-color-outline-accent-success-light;
$comp-messasge-color-outline-info: $sys-color-outline-accent-secondary-light;
$comp-messasge-color-outline-warning: $sys-color-outline-accent-warning-light;
$comp-messasge-color-outline-error: $sys-color-outline-accent-error-light;
$comp-dialog-color-background-default: $sys-color-background-base;
$comp-dialog-color-background-slot: $sys-color-background-accent-primary-tinit;
$comp-dialog-color-text-base: $sys-color-text-base;
$comp-dialog-color-text-sub: $sys-color-text-sub;
$comp-dialog-color-text-slot: $sys-color-text-accent-primary;
$comp-dialog-color-icon-base: $sys-color-icon-base;
$comp-dialog-color-icon-sub: $sys-color-icon-sub;
$comp-dialog-color-outline-slot: $sys-color-outline-accent-primary;
$comp-dialog-color-border-divider: $sys-color-border-base;
$comp-scroll-color-bar: $sys-color-border-base;
$comp-tag-color-tint-background-blue: $sys-color-background-accent-primary-tinit;
$comp-tag-color-tint-background-green: $sys-color-background-accent-success-tint;
$comp-tag-color-tint-background-grey: $sys-color-background-accent-secondary-tint;
$comp-tag-color-tint-background-orange: $sys-color-background-accent-warning-tint;
$comp-tag-color-tint-background-red: $sys-color-background-accent-error-tint;
$comp-tag-color-tint-outline-blue: $sys-color-outline-accent-primary-light;
$comp-tag-color-tint-outline-green: $sys-color-outline-accent-success-light;
$comp-tag-color-tint-outline-grey: $sys-color-outline-accent-secondary-light;
$comp-tag-color-tint-outline-orange: $sys-color-outline-accent-warning-light;
$comp-tag-color-tint-outline-red: $sys-color-outline-accent-error-light;
$comp-tag-color-tint-text-blue: $sys-color-text-accent-primary;
$comp-tag-color-tint-text-green: $sys-color-text-accent-success;
$comp-tag-color-tint-text-grey: $sys-color-text-accent-secondary;
$comp-tag-color-tint-text-orange: $sys-color-text-accent-warning;
$comp-tag-color-tint-text-red: $sys-color-text-accent-error;
$comp-tag-color-tint-icon-blue: $sys-color-icon-accent-primary;
$comp-tag-color-tint-icon-green: $sys-color-icon-accent-success;
$comp-tag-color-tint-icon-grey: $sys-color-icon-accent-secondary;
$comp-tag-color-tint-icon-orange: $sys-color-icon-accent-warning;
$comp-tag-color-tint-icon-red: $sys-color-icon-accent-error;
$comp-tag-color-contained-background-blue: $sys-color-background-accent-primary;
$comp-tag-color-contained-background-green: $sys-color-background-accent-success;
$comp-tag-color-contained-background-grey: $sys-color-background-accent-secondary;
$comp-tag-color-contained-background-orange: $sys-color-background-accent-warning;
$comp-tag-color-contained-background-red: $sys-color-background-accent-error;
$comp-tag-color-contained-outline-blue: $sys-color-outline-accent-primary;
$comp-tag-color-contained-outline-green: $sys-color-outline-accent-success;
$comp-tag-color-contained-outline-grey: $sys-color-outline-accent-secondary;
$comp-tag-color-contained-outline-orange: $sys-color-outline-accent-warning;
$comp-tag-color-contained-outline-red: $sys-color-outline-accent-error;
$comp-tag-color-contained-text-blue: $sys-color-text-inverse;
$comp-tag-color-contained-text-green: $sys-color-text-inverse;
$comp-tag-color-contained-text-grey: $sys-color-text-inverse;
$comp-tag-color-contained-text-orange: $sys-color-text-inverse;
$comp-tag-color-contained-text-red: $sys-color-text-inverse;
$comp-tag-color-contained-icon-blue: $sys-color-icon-inverse;
$comp-tag-color-contained-icon-green: $sys-color-icon-inverse;
$comp-tag-color-contained-icon-grey: $sys-color-icon-inverse;
$comp-tag-color-contained-icon-orange: $sys-color-icon-inverse;
$comp-tag-color-contained-icon-red: $sys-color-icon-inverse;
$comp-tag-color-plain-background: $sys-color-background-base;
$comp-tag-color-plain-outline: $sys-color-outline-base;
$comp-tag-color-plain-text: $sys-color-text-base;
$comp-tag-color-plain-icon: $sys-color-icon-base;
$comp-scroll-item-color-item-background: $sys-color-background-base;
$comp-scroll-item-color-item-background-hover: $sys-color-background-base-hover;
$comp-scroll-item-color-item-text: $sys-color-text-base;
$comp-scroll-item-color-item-text-selected: $sys-color-text-accent-primary;
$comp-scroll-item-color-item-text-sub: $sys-color-text-placeholder;
$comp-scroll-item-color-item-text-title: $sys-color-text-placeholder;
$comp-scroll-item-color-item-icon-selected: $sys-color-icon-accent-primary;
$comp-scroll-item-color-background: $sys-color-background-base;
$comp-border-color-divider: $sys-color-border-base;
$comp-slider-color-line: $sys-color-border-base;
$comp-slider-color-dash: $sys-color-border-base;
$comp-slider-color-dash-dot: $sys-color-background-base;
$comp-slider-color-position-bar: $sys-color-background-accent-primary;
$comp-slider-color-position-bar-disabled: $sys-color-disabled;
$comp-slider-color-outline-position-control: $sys-color-outline-accent-primary;
$comp-slider-color-outline-position-control-disabled: $sys-color-disabled;
$comp-slider-color-background-position-control: $sys-color-background-base;
$comp-tooltip-color-background-tip: $sys-color-background-inverse;
$comp-tooltip-color-background-position: $sys-color-background-inverse;
$comp-popover-color-background-position: $sys-color-background-base;
$comp-popover-color-background-container: $sys-color-background-base;
$comp-pagination-color-basic-background-selected: $sys-color-background-accent-primary;
$comp-pagination-color-basic-background-default: $sys-color-background-accent-primary-tinit;
$comp-pagination-color-basic-text-selected: $sys-color-text-accent-primary;
$comp-pagination-color-basic-text: $sys-color-text-base;
$comp-pagination-color-basic-text-hover: $sys-color-text-accent-primary;
$comp-pagination-color-basic-text-inverse: $sys-color-text-inverse;
$comp-pagination-color-basic-icon: $sys-color-icon-base;
$comp-pagination-color-more-background: $sys-color-background-base;
$comp-pagination-color-more-text-selected: $sys-color-text-accent-primary;
$comp-pagination-color-more-text: $sys-color-text-base;
$comp-pagination-color-more-text-hover: $sys-color-text-accent-primary;
$comp-pagination-color-more-icon: $sys-color-icon-base;
$comp-progress-color-background: $sys-color-background-accent-secondary-tint;
$comp-progress-color-background-bar-blue: $sys-color-background-accent-primary;
$comp-progress-color-background-bar-grey: $sys-color-background-accent-secondary;
$comp-progress-color-background-bar-green: $sys-color-background-accent-success;
$comp-progress-color-background-bar-orange: $sys-color-background-accent-warning;
$comp-progress-color-background-bar-red: $sys-color-background-accent-error;
$comp-progress-color-text: $sys-color-text-base;
$comp-progress-color-text-inverse: $sys-color-text-inverse;
$comp-progress-color-icon: $sys-color-icon-base;
$comp-progress-color-icon-green: $sys-color-icon-accent-success;
$comp-progress-color-icon-orange: $sys-color-icon-accent-warning;
$comp-progress-color-icon-red: $sys-color-icon-accent-error;
$comp-upload-color-list-icon: $sys-color-icon-accent-secondary;
$comp-upload-color-list-icon-success: $sys-color-icon-accent-success;
$comp-upload-color-list-text: $sys-color-text-base;
$comp-upload-color-list-text-active: $sys-color-text-accent-primary;
$comp-upload-color-list-background-hover: $sys-color-background-base-hover;
$comp-upload-color-list-background-progress-bar: $sys-color-background-accent-primary;
$comp-upload-color-file-subtext: $sys-color-text-sub;
$comp-upload-color-drag-file-icon: $sys-color-icon-sub;
$comp-upload-color-drag-file-text: $sys-color-text-sub;
$comp-upload-color-drag-file-outline: $sys-color-outline-base;
$comp-upload-color-drag-file-outline-hover: $sys-color-outline-accent-primary;
$comp-breadcrumb-color-main-title: $sys-color-text-base;
$comp-breadcrumb-color-sub-title: $sys-color-text-sub;
$comp-breadcrumb-color-separator: $sys-color-text-placeholder;
$comp-carousel-color-indicator: $sys-color-background-base;
$comp-carousel-color-indicator-outside: $sys-color-background-accent-secondary;
$comp-carousel-color-arrow-icon: $sys-color-icon-inverse;
$comp-carousel-color-arrow: $sys-color-background-opacity-dark-10;
$ui-color-background-base: $sys-color-background-base;
$ui-color-background-base-variant: $sys-color-background-base-variant;
$ui-color-background-tonal-primary: $sys-color-background-accent-primary-tinit;
$ui-color-background-tonal-info: $sys-color-background-accent-secondary-tint;
$ui-color-background-tonal-warning: $sys-color-background-accent-warning-tint;
$ui-color-background-tonal-success: $sys-color-background-accent-success-tint;
$ui-color-background-tonal-error: $sys-color-background-accent-error-tint;
$ui-color-text-primary: $sys-color-text-accent-primary;
$ui-color-text-secondary: $sys-color-text-accent-secondary;
$ui-color-text-success: $sys-color-text-accent-success;
$ui-color-text-warning: $sys-color-text-accent-warning;
$ui-color-text-error: $sys-color-text-accent-error;
$ui-color-text-base: $sys-color-text-base;
$ui-color-text-sub: $sys-color-text-sub;
$ui-color-text-helper: $sys-color-text-placeholder;
$ui-color-text-inverse: $sys-color-text-inverse;
$ui-color-icon-primary: $sys-color-icon-accent-primary;
$ui-color-icon-secondary: $sys-color-icon-accent-secondary;
$ui-color-icon-success: $sys-color-icon-accent-success;
$ui-color-icon-warning: $sys-color-icon-accent-warning;
$ui-color-icon-error: $sys-color-icon-accent-error;
$ui-color-icon-base: $sys-color-icon-base;
$ui-color-icon-sub: $sys-color-icon-sub;
$ui-color-icon-helper: $sys-color-icon-helper;
$ui-color-icon-inverse: $sys-color-icon-inverse;
$ui-color-outline-primary: $sys-color-outline-accent-primary;
$ui-color-outline-secondary: $sys-color-outline-accent-secondary;
$ui-color-outline-success: $sys-color-outline-accent-success;
$ui-color-outline-warning: $sys-color-outline-accent-warning;
$ui-color-outline-error: $sys-color-outline-accent-error;
$ui-color-outline-base: $sys-color-outline-base;
$ui-color-border-base: $sys-color-border-base;
$ui-color-border-base-variant: $sys-color-border-base-variant;
$ui-color-border-inverse: $sys-color-border-inverse;