$ref-opacity-10: 10%;
$ref-opacity-30: 30%;
$ref-opacity-50: 50%;
$sys-opacity-50per: $ref-opacity-50;
$sys-opacity-10per: $ref-opacity-10;
$sys-opacity-30per: $ref-opacity-30;
$comp-button-opacity-disabled: $sys-opacity-50per;
$comp-input-opacity-disabled: $sys-opacity-50per;
$comp-select-opacity-disabled: $comp-input-opacity-disabled;
$comp-switch-opacity-disabled: $sys-opacity-50per;
$comp-radio-opacity-disabled: $sys-opacity-50per;
$comp-checkbox-opacity-disabled: $sys-opacity-50per;
$comp-cascader-opacity-list-disabled: $sys-opacity-50per;
$comp-dropdown-opacity-button-disabled: $sys-opacity-50per;
$comp-scroll-item-opacity-item-disabled: $sys-opacity-50per;
$comp-carousel-opacity-indicator-default: $sys-opacity-50per;
$comp-carousel-opacity-indicator-outside: $sys-opacity-30per;
$comp-carousel-opacity-arrow: $sys-opacity-10per;
$comp-pagination-opacity-disabled: $sys-opacity-30per;