$ref-sizing-2px: 2px;
$ref-sizing-6px: 6px;
$ref-sizing-8px: 8px;
$ref-sizing-12px: 12px;
$ref-sizing-14px: 14px;
$ref-sizing-16px: 16px;
$ref-sizing-18px: 18px;
$ref-sizing-20px: 20px;
$ref-sizing-24px: 24px;
$ref-sizing-28px: 28px;
$ref-sizing-32px: 32px;
$ref-sizing-40px: 40px;
$ref-sizing-48px: 48px;
$ref-sizing-56px: 56px;
$ref-sizing-64px: 64px;
$ref-sizing-72px: 72px;
$ref-sizing-80px: 80px;
$ref-sizing-200px: 200px;
$ref-sizing-160px: 160px;
$ref-sizing-140px: 140px;
$ref-sizing-120px: 120px;
$ref-sizing-100px: 100px;
$ref-sizing-480px: 480px;
$ref-sizing-320px: 320px;
$ref-sizing-640px: 640px;
$ref-sizing-800px: 800px;
$ref-sizing-100per: 100%;
$sys-sizing-icon-mini: $ref-sizing-2px;
$sys-sizing-icon-xsmall: $ref-sizing-12px;
$sys-sizing-icon-xxsmall: $ref-sizing-8px;
$sys-sizing-icon-xxxsmall: $ref-sizing-6px;
$sys-sizing-icon-small: $ref-sizing-14px;
$sys-sizing-icon-medium: $ref-sizing-16px;
$sys-sizing-icon-semi-large: $ref-sizing-18px;
$sys-sizing-icon-large: $ref-sizing-24px;
$sys-sizing-10unit-mini: $ref-sizing-12px;
$sys-sizing-10unit-semi-xsmall: $ref-sizing-14px;
$sys-sizing-10unit-xsmall: $ref-sizing-16px;
$sys-sizing-10unit-semi-small: $ref-sizing-20px;
$sys-sizing-10unit-small: $ref-sizing-24px;
$sys-sizing-10unit-semi-medium: $ref-sizing-28px;
$sys-sizing-10unit-medium: $ref-sizing-32px;
$sys-sizing-10unit-semi-large: $ref-sizing-40px;
$sys-sizing-10unit-large: $ref-sizing-48px;
$sys-sizing-10unit-xxlarge: $ref-sizing-64px;
$sys-sizing-10unit-jumbo: $ref-sizing-80px;
$sys-sizing-100unit-large: $ref-sizing-800px;
$sys-sizing-100unit-medium: $ref-sizing-640px;
$sys-sizing-100unit-small: $ref-sizing-480px;
$sys-sizing-100unit-xsmall: $ref-sizing-320px;
$sys-sizing-100unit-semi-xsmall: $ref-sizing-200px;
$sys-sizing-100unit-xxsmall: $ref-sizing-160px;
$sys-sizing-100unit-semi-xxsmall: $ref-sizing-140px;
$sys-sizing-100per: $ref-sizing-100per;
$comp-button-sizing-large: $sys-sizing-10unit-large;
$comp-button-sizing-medium: $sys-sizing-10unit-semi-large;
$comp-button-sizing-small: $sys-sizing-10unit-medium;
$comp-button-sizing-mini: $sys-sizing-10unit-semi-medium;
$comp-button-sizing-icon-large: $sys-sizing-icon-semi-large;
$comp-button-sizing-icon-medium: $sys-sizing-icon-medium;
$comp-button-sizing-icon-small: $sys-sizing-icon-small;
$comp-button-sizing-icon-mini: $sys-sizing-icon-xsmall;
$comp-button-sizing-width-100per: $sys-sizing-100per;
$comp-input-sizing-height-large: $sys-sizing-10unit-large;
$comp-input-sizing-height-medium: $sys-sizing-10unit-semi-large;
$comp-input-sizing-height-small: $sys-sizing-10unit-medium;
$comp-input-sizing-height-mini: $sys-sizing-10unit-semi-medium;
$comp-input-sizing-icon-large: $sys-sizing-icon-medium;
$comp-input-sizing-icon-medium: $sys-sizing-icon-medium;
$comp-input-sizing-icon-small: $sys-sizing-icon-small;
$comp-input-sizing-icon-mini: $sys-sizing-icon-xsmall;
$comp-input-sizing-number-width-large: $sys-sizing-100unit-xxsmall;
$comp-input-sizing-number-width-medium: $sys-sizing-100unit-xxsmall;
$comp-input-sizing-number-width-small: $sys-sizing-100unit-semi-xxsmall;
$comp-input-sizing-number-width-mini: $sys-sizing-100unit-semi-xxsmall;
$comp-input-sizing-slot-plaintext-height-large: $comp-input-sizing-height-large;
$comp-input-sizing-slot-plaintext-height-medium: $comp-input-sizing-height-medium;
$comp-input-sizing-slot-plaintext-height-small: $comp-input-sizing-height-small;
$comp-input-sizing-slot-plaintext-height-mini: $comp-input-sizing-height-mini;
$comp-input-sizing-slot-button-icon-large: $sys-sizing-icon-semi-large;
$comp-input-sizing-slot-button-icon-medium: $sys-sizing-icon-medium;
$comp-input-sizing-slot-button-icon-small: $sys-sizing-icon-small;
$comp-input-sizing-slot-button-icon-mini: $sys-sizing-icon-xsmall;
$comp-input-sizing-slot-button-controls-icon-large: $sys-sizing-icon-small;
$comp-input-sizing-slot-button-controls-icon-medium: $sys-sizing-icon-xsmall;
$comp-input-sizing-slot-button-controls-icon-small: $sys-sizing-icon-xxsmall;
$comp-input-sizing-slot-button-controls-icon-mini: $sys-sizing-icon-xxsmall;
$comp-input-sizing-slot-button-height-large: $comp-input-sizing-height-large;
$comp-input-sizing-slot-button-height-medium: $comp-input-sizing-height-medium;
$comp-input-sizing-slot-button-height-small: $comp-input-sizing-height-small;
$comp-input-sizing-slot-button-height-mini: $comp-input-sizing-height-mini;
$comp-select-sizing-height-large: $comp-input-sizing-height-large;
$comp-select-sizing-height-medium: $comp-input-sizing-height-medium;
$comp-select-sizing-height-small: $comp-input-sizing-height-small;
$comp-select-sizing-height-mini: $comp-input-sizing-height-mini;
$comp-select-sizing-icon-large: $comp-input-sizing-icon-large;
$comp-select-sizing-icon-medium: $comp-input-sizing-icon-medium;
$comp-select-sizing-icon-small: $comp-input-sizing-icon-small;
$comp-select-sizing-icon-mini: $comp-input-sizing-icon-mini;
$comp-select-sizing-mixed-input-width-medium: $sys-sizing-100unit-semi-xxsmall;
$comp-select-sizing-mixed-input-width-small: $sys-sizing-10unit-jumbo;
$comp-switch-sizing-height: $sys-sizing-10unit-small;
$comp-switch-sizing-width: $sys-sizing-10unit-semi-large;
$comp-switch-sizing-toggle: $sys-sizing-10unit-semi-small;
$comp-switch-sizing-area: $sys-sizing-10unit-semi-large;
$comp-radio-sizing-backgorund: $sys-sizing-10unit-xsmall;
$comp-radio-sizing-group-row-height: $sys-sizing-10unit-semi-large;
$comp-radio-sizing-button-height-large: $comp-input-sizing-height-large;
$comp-radio-sizing-button-height-medium: $comp-input-sizing-height-medium;
$comp-radio-sizing-button-height-small: $comp-input-sizing-height-small;
$comp-radio-sizing-button-height-mini: $comp-input-sizing-height-mini;
$comp-radio-sizing-tab-height-large: $comp-input-sizing-height-large;
$comp-radio-sizing-tab-height-medium: $comp-input-sizing-height-medium;
$comp-radio-sizing-tab-height-small: $comp-input-sizing-height-small;
$comp-radio-sizing-tab-height-mini: $comp-input-sizing-height-mini;
$comp-checkbox-sizing-medium: $sys-sizing-10unit-xsmall;
$comp-checkbox-sizing-small: $sys-sizing-10unit-semi-xsmall;
$comp-checkbox-sizing-large: $sys-sizing-10unit-semi-small;
$comp-checkbox-sizing-group-row-height: $sys-sizing-10unit-semi-large;
$comp-checkbox-sizing-button-height-large: $comp-input-sizing-height-large;
$comp-checkbox-sizing-button-height-medium: $comp-input-sizing-height-medium;
$comp-checkbox-sizing-button-height-small: $comp-input-sizing-height-small;
$comp-checkbox-sizing-button-height-mini: $comp-input-sizing-height-mini;
$comp-forms-sizing-height-title-lg: $comp-input-sizing-height-large;
$comp-forms-sizing-height-title-md: $comp-input-sizing-height-medium;
$comp-forms-sizing-height-title-sm: $comp-input-sizing-height-small;
$comp-forms-sizing-height-title-mini: $comp-input-sizing-height-mini;
$comp-tab-sizing-height: $sys-sizing-10unit-semi-large;
$comp-tab-sizing-icon-close: $sys-sizing-icon-xsmall;
$comp-tab-sizing-icon-prefix: $sys-sizing-icon-small;
$comp-badge-sizing-medium: $sys-sizing-10unit-semi-small;
$comp-badge-sizing-dot: $sys-sizing-icon-xsmall;
$comp-alert-sizing-icon-prefix-2line: $sys-sizing-icon-large;
$comp-alert-sizing-icon-prefix-single: $sys-sizing-icon-medium;
$comp-alert-sizing-icon-close: $sys-sizing-icon-xsmall;
$comp-message-sizing-icon-prefix-single: $comp-alert-sizing-icon-prefix-single;
$comp-message-sizing-icon-close: $sys-sizing-icon-xsmall;
$comp-cascader-sizing-icon: $sys-sizing-icon-small;
$comp-dropdown-sizing-text-icon: $comp-button-sizing-icon-small;
$comp-dialog-sizing-title-icon-close: $sys-sizing-icon-medium;
$comp-dialog-sizing-title-icon: $sys-sizing-icon-large;
$comp-dialog-sizing-content-icon: $sys-sizing-icon-large;
$comp-scroll-sizing-width: $sys-sizing-icon-xxsmall;
$comp-tag-sizing-height-large: $sys-sizing-10unit-medium;
$comp-tag-sizing-height-medium: $sys-sizing-10unit-semi-medium;
$comp-tag-sizing-height-small: $sys-sizing-10unit-small;
$comp-tag-sizing-height-mini: $sys-sizing-10unit-semi-small;
$comp-tag-sizing-icon-close: $sys-sizing-icon-xsmall;
$comp-tag-sizing-icon-large: $sys-sizing-icon-small;
$comp-tag-sizing-icon-medium: $sys-sizing-icon-small;
$comp-tag-sizing-icon-small: $sys-sizing-icon-xsmall;
$comp-tag-sizing-icon-mini: $sys-sizing-icon-xsmall;
$comp-scroll-item-sizing-item-icon: $sys-sizing-icon-small;
$comp-scroll-item-sizing-position-width: $sys-sizing-icon-medium;
$comp-scroll-item-sizing-position-height: $sys-sizing-icon-xxsmall;
$comp-slider-sizing-width-line: $sys-sizing-100unit-medium;
$comp-slider-sizing-width-dash: $sys-sizing-100unit-large;
$comp-slider-sizing-width-position: $sys-sizing-100unit-small;
$comp-slider-sizing-height-line: $sys-sizing-icon-xxsmall;
$comp-slider-sizing-height-dash: $sys-sizing-icon-xxsmall;
$comp-slider-sizing-height-position: $sys-sizing-icon-xxsmall;
$comp-slider-sizing-dash-dot: $sys-sizing-icon-xxsmall;
$comp-slider-sizing-position-control: $sys-sizing-10unit-semi-small;
$comp-tooltip-sizing-width-position: $sys-sizing-icon-xsmall;
$comp-tooltip-sizing-height-position: $sys-sizing-icon-xxxsmall;
$comp-tooltip-sizing-width: $sys-sizing-100unit-semi-xxsmall;
$comp-popover-sizing-width-position: $sys-sizing-icon-xsmall;
$comp-popover-sizing-height-position: $sys-sizing-icon-xxxsmall;
$comp-pagination-sizing-basic-height: $sys-sizing-10unit-medium;
$comp-pagination-sizing-basic-height-small: $sys-sizing-10unit-small;
$comp-pagination-sizing-basic-icon: $sys-sizing-icon-xsmall;
$comp-pagination-sizing-more-height-background: $sys-sizing-10unit-medium;
$comp-pagination-sizing-more-height: $sys-sizing-10unit-semi-medium;
$comp-progress-sizing-height-line: $sys-sizing-icon-xxsmall;
$comp-progress-sizing-height-internal: $sys-sizing-10unit-small;
$comp-progress-sizing-icon: $sys-sizing-icon-semi-large;
$comp-upload-sizing-file-list-icon: $sys-sizing-icon-medium;
$comp-upload-sizing-card-drag-file-icon: $sys-sizing-10unit-xxlarge;
$comp-upload-sizing-card-click-file-icon: $sys-sizing-10unit-xxlarge;
$comp-upload-sizing-card-drag-file-width: $sys-sizing-100unit-xsmall;
$comp-upload-sizing-card-drag-file-height: $sys-sizing-100unit-xxsmall;
$comp-upload-sizing-card-click-file-box: $sys-sizing-100unit-xxsmall;
$comp-upload-sizing-height-list: $sys-sizing-10unit-small;
$comp-upload-sizing-height-progress-bar: $sys-sizing-icon-mini;
$comp-breadcrumb-sizing-icon: $sys-sizing-icon-small;
$comp-carousel-sizing-width-indicator: $sys-sizing-10unit-medium;
$comp-carousel-sizing-height-indicator: $sys-sizing-icon-mini;
$comp-carousel-sizing-arrow: $sys-sizing-10unit-medium;
$comp-carousel-sizing-arrow-icon: $sys-sizing-icon-xsmall;
$ui-sizing-icon-mini: $sys-sizing-icon-xsmall;
$ui-sizing-icon-small: $sys-sizing-icon-medium;
$ui-sizing-icon-medium: $sys-sizing-icon-large;