$ref-spacing-0px: 0px;
$ref-spacing-2px: 2px;
$ref-spacing-4px: 4px;
$ref-spacing-8px: 8px;
$ref-spacing-12px: 12px;
$ref-spacing-16px: 16px;
$ref-spacing-20px: 20px;
$ref-spacing-24px: 24px;
$ref-spacing-32px: 32px;
$ref-spacing-40px: 40px;
$ref-spacing-48px: 48px;
$ref-spacing-56px: 56px;
$sys-spacing-none: $ref-spacing-0px;
$sys-spacing-xxsmall: $ref-spacing-2px;
$sys-spacing-xsmall: $ref-spacing-4px;
$sys-spacing-small: $ref-spacing-8px;
$sys-spacing-semi-small: $ref-spacing-12px;
$sys-spacing-medium: $ref-spacing-16px;
$sys-spacing-semi-large: $ref-spacing-20px;
$sys-spacing-large: $ref-spacing-24px;
$sys-spacing-xlarge: $ref-spacing-32px;
$sys-spacing-xxlarge: $ref-spacing-40px;
$comp-button-spacing-horizontal-large: $sys-spacing-semi-large;
$comp-button-spacing-horizontal-medium: $sys-spacing-medium;
$comp-button-spacing-horizontal-small: $sys-spacing-semi-small;
$comp-button-spacing-horizontal-mini: $sys-spacing-small;
$comp-button-spacing-gap: $sys-spacing-xsmall;
$comp-button-spacing-none: $sys-spacing-none;
$comp-button-spacing-group-horizontal: $sys-spacing-small;
$comp-input-spacing-horizontal: $sys-spacing-semi-small;
$comp-input-spacing-textarea-vertical-mediun: $sys-spacing-small;
$comp-input-spacing-textarea-vertical-mini: $sys-spacing-xsmall;
$comp-input-spacing-gap: $sys-spacing-small;
$comp-input-spacing-prefixicon-right: $sys-spacing-xsmall;
$comp-input-spacing-slot-plaintext-horizontal: $comp-input-spacing-horizontal;
$comp-input-spacing-slot-button-horizontal-large: $comp-button-spacing-horizontal-large;
$comp-input-spacing-slot-button-horizontal-medium: $comp-button-spacing-horizontal-medium;
$comp-input-spacing-slot-button-horizontal-small: $comp-button-spacing-horizontal-small;
$comp-input-spacing-slot-button-horizontal-mini: $comp-button-spacing-horizontal-mini;
$comp-input-spacing-template-vertical: $sys-spacing-large;
$comp-input-spacing-group-horizontal: $sys-spacing-small;
$comp-checkbox-spacing-group-row-gap: $sys-spacing-medium;
$comp-checkbox-spacing-checkbox-right: $sys-spacing-small;
$comp-checkbox-spacing-button-horizontal: $comp-input-spacing-horizontal;
$comp-radio-spacing-group-row-gap: $sys-spacing-medium;
$comp-radio-spacing-radio-right: $sys-spacing-small;
$comp-radio-spacing-button-horizontal: $comp-input-spacing-horizontal;
$comp-radio-spacing-tab-horizontal: $sys-spacing-semi-large;
$comp-switch-spacing-padding: $sys-spacing-xxsmall;
$comp-select-spacing-horizontal: $comp-input-spacing-horizontal;
$comp-select-spacing-gap: $comp-input-spacing-gap;
$comp-forms-spacing-title-right: $sys-spacing-medium;
$comp-forms-spacing-helpertext-top: $sys-spacing-xsmall;
$comp-tab-spacing-box-horizontal: $sys-spacing-semi-large;
$comp-tab-spacing-box-gap: $sys-spacing-xsmall;
$comp-tab-spacing-line-horizontal: $sys-spacing-semi-large;
$comp-tab-spacing-line-vertical: $sys-spacing-semi-small;
$comp-tab-spacing-line-gap: $sys-spacing-xsmall;
$comp-tab-spacing-plain-horizontal: $sys-spacing-semi-large;
$comp-tab-spacing-plain-gap: $sys-spacing-xsmall;
$comp-badge-spacing-horizontal: $sys-spacing-small;
$comp-alert-spacing-horizontal: $sys-spacing-medium;
$comp-alert-spacing-vertical: $sys-spacing-semi-small;
$comp-alert-spacing-vertical-single: $sys-spacing-small;
$comp-alert-spacing-gap: $sys-spacing-small;
$comp-alert-spacing-gap-text: $sys-spacing-xsmall;
$comp-alert-spacing-gap-content: $sys-spacing-small;
$comp-cascader-spacing-list-horizontal: $sys-spacing-medium;
$comp-cascader-spacing-list-vertical: $sys-spacing-small;
$comp-cascader-spacing-list-gap: $sys-spacing-small;
$comp-cascader-spacing-popper-vertical-list: $sys-spacing-small;
$comp-dropdown-spacing-button-divider-vertical: $sys-spacing-small;
$comp-dropdown-spacing-text-gap: $comp-button-spacing-gap;
$comp-messasge-spacing-horizontal: $sys-spacing-medium;
$comp-messasge-spacing-vertical: $sys-spacing-medium;
$comp-messasge-spacing-gap: $sys-spacing-small;
$comp-dialog-spacing-horizontal: $sys-spacing-medium;
$comp-dialog-spacing-vertical: $sys-spacing-medium;
$comp-dialog-spacing-gap: $sys-spacing-small;
$comp-dialog-spacing-centered-content-horizontal: $sys-spacing-medium;
$comp-dialog-spacing-centered-content-vertical: $sys-spacing-medium;
$comp-dialog-spacing-centered-content-button-bottom: $sys-spacing-medium;
$comp-dialog-spacing-centered-content-gap: $sys-spacing-small;
$comp-dialog-spacing-centered-content-gap-title: $sys-spacing-none;
$comp-tag-spacing-horizontal-large: $sys-spacing-semi-small;
$comp-tag-spacing-horizontal-medium: $sys-spacing-small;
$comp-tag-spacing-horizontal-small: $sys-spacing-small;
$comp-tag-spacing-horizontal-mini: $sys-spacing-xsmall;
$comp-tag-spacing-gap: $sys-spacing-xsmall;
$comp-scroll-item-spacing-item-horizontal: $sys-spacing-semi-small;
$comp-scroll-item-spacing-item-vertical: $sys-spacing-small;
$comp-scroll-item-spacing-item-gap: $sys-spacing-small;
$comp-scroll-item-spacing-vertical: $sys-spacing-small;
$comp-scroll-item-spacing-horizontal-divider: $sys-spacing-semi-small;
$comp-scroll-item-spacing-vertical-divider: $sys-spacing-small;
$comp-slider-spacing-gap-dash-dot: $sys-spacing-xlarge;
$comp-slider-spacing-horizontal-dash-dot: $sys-spacing-xlarge;
$comp-tooltip-spacing-horizontal-position: $sys-spacing-semi-small;
$comp-tooltip-spacing-tip: $sys-spacing-semi-small;
$comp-popover-spacing-horizontal-position: $sys-spacing-semi-small;
$comp-popover-spacing-horizontal-container: $sys-spacing-semi-small;
$comp-pagination-spacing-basic-horizontal-number: $sys-spacing-semi-small;
$comp-pagination-spacing-basic-horizontal-number-small: $sys-spacing-small;
$comp-pagination-spacing-basic-horizontal-icon: $sys-spacing-semi-small;
$comp-pagination-spacing-basic-horizontal-icon-small: $sys-spacing-small;
$comp-pagination-spacing-basic-gap: $sys-spacing-small;
$comp-pagination-spacing-basic-gap-small: $sys-spacing-xsmall;
$comp-pagination-spacing-more-horizontal-number: $sys-spacing-semi-small;
$comp-pagination-spacing-more-horizontal-icon: $sys-spacing-semi-small;
$comp-pagination-spacing-more-gap: $sys-spacing-small;
$comp-pagination-spacing-more-gap-number: $sys-spacing-xsmall;
$comp-pagination-spacing-more-horizontal-bg: $sys-spacing-medium;
$comp-progress-spacing-gap-line: $sys-spacing-small;
$comp-progress-spacing-horizontal-internal-bar: $sys-spacing-small;
$comp-upload-spacing-horizontal-list: $sys-spacing-xsmall;
$comp-upload-spacing-gap-list: $sys-spacing-small;
$comp-upload-spacing-gap-file: $sys-spacing-small;
$comp-upload-spacing-gap-button: $sys-spacing-small;
$comp-upload-spacing-gap-drag-file-contents: $sys-spacing-small;
$comp-breadcrumb-spacing-horizontal-basic: $sys-spacing-small;
$comp-breadcrumb-spacing-horizontal-icon: $sys-spacing-xsmall;
$comp-carousel-sizing-horizontal-indicator: $sys-spacing-medium;
$comp-carousel-sizing-horizontal-image: $sys-spacing-semi-small;
$comp-carousel-sizing-vertical-indicator: $sys-spacing-semi-small;
$ui-spacing-gap-small: $sys-spacing-small;
$ui-spacing-gap-medium: $sys-spacing-medium;
$ui-spacing-gap-large: $sys-spacing-large;
$ui-spacing-gap-icon-small: $sys-spacing-xsmall;
$ui-spacing-gap-icon-medium: $sys-spacing-small;
$ui-spacing-padding-small: $sys-spacing-small;
$ui-spacing-padding-medium: $sys-spacing-medium;
$ui-spacing-padding-large: $sys-spacing-large;
$ui-spacing-padding-xlarge: $sys-spacing-xlarge;