$sys-typography-label-lg: #{$ref-fontweight-medium} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-label-md: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-label-sm: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-label-mn: #{$ref-fontweight-medium} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-text-lg: #{$ref-fontweight-regular} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-text-lg-medium: #{$ref-fontweight-medium} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-text-lg-bold: #{$ref-fontweight-bold} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-text-md: #{$ref-fontweight-regular} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-md-medium: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-md-bold: #{$ref-fontweight-bold} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-sm: #{$ref-fontweight-regular} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-sm-medium: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-sm-bold: #{$ref-fontweight-bold} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-text-mn: #{$ref-fontweight-regular} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-text-mn-medium: #{$ref-fontweight-medium} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-text-mn-bold: #{$ref-fontweight-bold} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-title-lg: #{$ref-fontweight-medium} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-title-lg-bold: #{$ref-fontweight-bold} #{$ref-fontsize-16px}/#{$ref-lineheight-24px} #{$ref-fontfamily-pretendard};
$sys-typography-title-md: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-title-md-bold: #{$ref-fontweight-bold} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-title-sm: #{$ref-fontweight-medium} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-title-sm-bold: #{$ref-fontweight-bold} #{$ref-fontsize-14px}/#{$ref-lineheight-22px} #{$ref-fontfamily-pretendard};
$sys-typography-title-mn: #{$ref-fontweight-medium} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-title-mn-bold: #{$ref-fontweight-bold} #{$ref-fontsize-12px}/#{$ref-lineheight-18px} #{$ref-fontfamily-pretendard};
$sys-typography-headline-lg: #{$ref-fontweight-bold} #{$ref-fontsize-32px}/#{$ref-lineheight-44px} #{$ref-fontfamily-pretendard};
$sys-typography-headline-md: #{$ref-fontweight-bold} #{$ref-fontsize-28px}/#{$ref-lineheight-40px} #{$ref-fontfamily-pretendard};
$sys-typography-headline-sm: #{$ref-fontweight-bold} #{$ref-fontsize-24px}/#{$ref-lineheight-34px} #{$ref-fontfamily-pretendard};
$sys-typography-headline-mn: #{$ref-fontweight-bold} #{$ref-fontsize-20px}/#{$ref-lineheight-30px} #{$ref-fontfamily-pretendard};
$comp-button-typography-large: #{$sys-typography-label-lg};
$comp-button-typography-medium: #{$sys-typography-label-md};
$comp-button-typography-small: #{$sys-typography-label-sm};
$comp-button-typography-mini: #{$sys-typography-label-mn};
$comp-input-typography-large: #{$sys-typography-text-lg};
$comp-input-typography-medium: #{$sys-typography-text-md};
$comp-input-typography-small: #{$sys-typography-text-sm};
$comp-input-typography-mini: #{$sys-typography-text-mn};
$comp-input-typography-sub-text: #{$sys-typography-text-mn};
$comp-input-typography-slot-button-large: #{$sys-typography-label-lg};
$comp-input-typography-slot-button-medium: #{$sys-typography-label-md};
$comp-input-typography-slot-button-small: #{$sys-typography-label-sm};
$comp-input-typography-slot-button-mini: #{$sys-typography-label-mn};
$comp-input-typography-slot-plaintext-large: #{$sys-typography-text-lg};
$comp-input-typography-slot-plaintext-medium: #{$sys-typography-text-md};
$comp-input-typography-slot-plaintext-small: #{$sys-typography-text-sm};
$comp-input-typography-slot-plaintext-mini: #{$sys-typography-text-mn};
$comp-select-typography-large: #{$comp-input-typography-large};
$comp-select-typography-medium: #{$comp-input-typography-medium};
$comp-select-typography-small: #{$comp-input-typography-small};
$comp-select-typography-mini: #{$comp-input-typography-mini};
$comp-forms-typography-helptext: #{$comp-input-typography-sub-text};
$comp-forms-typography-title-lg: #{$sys-typography-title-lg};
$comp-forms-typography-title-md: #{$sys-typography-title-md};
$comp-forms-typography-title-sm: #{$sys-typography-title-sm};
$comp-forms-typography-title-mini: #{$sys-typography-title-mn};
$comp-dialog-typography-title: #{$sys-typography-title-lg};
$comp-radio-typography-text-large: #{$sys-typography-text-lg};
$comp-radio-typography-text-medium: #{$sys-typography-text-md};
$comp-radio-typography-text-small: #{$sys-typography-text-sm};
$comp-radio-typography-text-mini: #{$sys-typography-text-mn};
$comp-radio-typography-text-large-selected: #{$sys-typography-text-lg-bold};
$comp-radio-typography-text-medium-selected: #{$sys-typography-text-md-bold};
$comp-radio-typography-text-small-selected: #{$sys-typography-text-sm-bold};
$comp-radio-typography-text-mini-selected: #{$sys-typography-text-mn-bold};
$comp-radio-typography-tab-large: #{$comp-input-typography-large};
$comp-radio-typography-tab-medium: #{$comp-input-typography-medium};
$comp-radio-typography-tab-small: #{$comp-input-typography-small};
$comp-radio-typography-tab-mini: #{$comp-input-typography-mini};
$comp-checkbox-typography-text-large: #{$sys-typography-text-lg};
$comp-checkbox-typography-text-medium: #{$sys-typography-text-md};
$comp-checkbox-typography-text-small: #{$sys-typography-text-sm};
$comp-checkbox-typography-text-mini: #{$sys-typography-text-mn};
$comp-checkbox-typography-text-large-selected: #{$sys-typography-text-lg-bold};
$comp-checkbox-typography-text-medium-selected: #{$sys-typography-text-md-bold};
$comp-checkbox-typography-text-small-selected: #{$sys-typography-text-sm-bold};
$comp-checkbox-typography-text-mini-selected: #{$sys-typography-text-mn-bold};
$comp-tab-typography-default: #{$sys-typography-label-sm};
$comp-badge-typography-text: #{$sys-typography-label-mn};
$comp-alert-typography-title: #{$sys-typography-title-md};
$comp-alert-typography-text: #{$sys-typography-text-mn};
$comp-cascader-typography-list-text: #{$sys-typography-text-sm};
$comp-dropdown-typography-text: #{$comp-button-typography-small};
$comp-message-typography-content-text: #{$sys-typography-text-sm};
$comp-tag-typography-text-large: #{$sys-typography-text-lg};
$comp-tag-typography-text-medium: #{$sys-typography-text-md};
$comp-tag-typography-text-small: #{$sys-typography-text-mn};
$comp-tag-typography-text-mini: #{$sys-typography-text-mn};
$comp-scroll-item-typography-item-title: #{$sys-typography-title-mn};
$comp-scroll-item-typography-item-text: #{$sys-typography-text-md};
$comp-scroll-item-typography-item-text-selected: #{$sys-typography-text-md-bold};
$comp-scroll-item-typography-item-sub: #{$sys-typography-text-sm};
$comp-scroll-item-typography-item-sub-selected: #{$sys-typography-text-sm-bold};
$comp-tooltip-typography-text: #{$sys-typography-text-mn};
$comp-pagination-typography-text: #{$sys-typography-text-mn};
$comp-pagination-typography-text-selected: #{$sys-typography-text-mn-bold};
$comp-progress-typography-percent: #{$sys-typography-text-mn};
$comp-progress-typography-percent-circle: #{$sys-typography-text-lg};
$comp-upload-typography-file-subtext: #{$sys-typography-text-mn};
$comp-upload-typography-drag-file-text: #{$sys-typography-text-md};
$comp-breadcrumb-typography-main-title: #{$sys-typography-title-md-bold};
$comp-breadcrumb-typography-sub-title: #{$sys-typography-title-md};
$ui-typography-display-large: #{$sys-typography-headline-lg};
$ui-typography-display-medium: #{$sys-typography-headline-sm};
$ui-typography-display-small: #{$sys-typography-headline-mn};
$ui-typography-title-large: #{$sys-typography-title-lg-bold};
$ui-typography-title-medium: #{$sys-typography-title-md-bold};
$ui-typography-title-small: #{$sys-typography-title-mn-bold};
$ui-typography-body-base: #{$sys-typography-text-md};
$ui-typography-body-sub: #{$sys-typography-text-mn};
$ui-typography-body-accent: #{$sys-typography-text-lg};